
.App {
    text-align: center;
    margin-top: 50px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  div {
    margin: 10px 0;
  }
  
  span {
    margin-left: 10px;
  }
  